@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0 0);
--color-gray-100: oklch(0.967 0.001 286.375);
--color-gray-200: oklch(0.92 0.004 286.32);
--color-gray-300: oklch(0.871 0.006 286.286);
--color-gray-400: oklch(0.705 0.015 286.067);
--color-gray-500: oklch(0.552 0.016 285.938);
--color-gray-600: oklch(0.442 0.017 285.786);
--color-gray-700: oklch(0.37 0.013 285.805);
--color-gray-800: oklch(0.274 0.006 286.033);
--color-gray-900: oklch(0.21 0.006 285.885);
--color-gray-950: oklch(0.141 0.005 285.823);
--color-primary-50: oklch(0.969 0.016 293.756);
--color-primary-100: oklch(0.943 0.029 294.588);
--color-primary-200: oklch(0.894 0.057 293.283);
--color-primary-300: oklch(0.811 0.111 293.571);
--color-primary-400: oklch(0.702 0.183 293.541);
--color-primary-500: oklch(0.606 0.25 292.717);
--color-primary-600: oklch(0.541 0.281 293.009);
--color-primary-700: oklch(0.491 0.27 292.581);
--color-primary-800: oklch(0.432 0.232 292.759);
--color-primary-900: oklch(0.38 0.189 293.745);
--color-primary-950: oklch(0.283 0.141 291.089);
--color-secondary-50: oklch(0.979 0.021 166.113);
--color-secondary-100: oklch(0.95 0.052 163.051);
--color-secondary-200: oklch(0.905 0.093 164.15);
--color-secondary-300: oklch(0.845 0.143 164.978);
--color-secondary-400: oklch(0.765 0.177 163.223);
--color-secondary-500: oklch(0.696 0.17 162.48);
--color-secondary-600: oklch(0.596 0.145 163.225);
--color-secondary-700: oklch(0.508 0.118 165.612);
--color-secondary-800: oklch(0.432 0.095 166.913);
--color-secondary-900: oklch(0.378 0.077 168.94);
--color-secondary-950: oklch(0.262 0.051 172.552);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}